/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";

*,
::after,
::before {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  list-style-type: none;
}
body, html{
    font-family: 'Montserrat', sans-serif !important;
}