<div class="container main-block">
  <div class="profile">
    <div class="profile_card card">
      <div class="profile_card-top">
        <div class="photo">
          <img src="https://randomuser.me/api/portraits/men/84.jpg" alt="">
        </div>
        <div class="details">
          <h1>Harvey Specter<span class="heart reaction"><i class="fa fa-heart heart" aria-hidden="true"></i></span></h1>
          <span class="city">New York USA</span>
        </div>
      </div>
      <ul class="profile_card-bottom">
        <li class="likes">
          <span class="assets-count">121</span>
          <span class="assets-title">Likes</span>
        </li>
        <li class="following">
          <span class="assets-count">723</span>
          <span class="assets-title">Following</span>
        </li>
        <li class="followers">
          <span class="assets-count">4433</span>
          <span class="assets-title">Followers</span>
        </li>
        <li class="follow">
          <button class="btn-follow">Follow</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="comments card">
    <div class="commets_header">
      <button class="comments_button">Hide comments<span class="comments_count">(353)</span></button>
    </div>
    <div class="comments-description">
      <div class="comments-photo">
        <img src="https://randomuser.me/api/portraits/men/84.jpg" alt="">
      </div>
      <div class="comments_wrapper">
          <div class="comments_details">
              <h1>Mike Ross</h1>
              <span class="days">1d</span>
            </div>
            <div class="comments_text">
              <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. </p>
            </div>
      </div>
      
    </div>

  </div>
</div>
