<div class="container main-block">
  <div class="profile">
    <div class="profile_card card" *ngFor="let stat of status">
      <div class="profile_btn-share">
        <a href="http://localhost:4200/home" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=1200'); return false">
          <button type="button" class="btn-share"><img src="/assets/images/share-symbol.png">
          </button>
        </a>
      </div>
      <div class="profile_card-top">
        <div class="photo">
          <img src="https://randomuser.me/api/portraits/men/84.jpg" alt="">
        </div>
        <div class="details">
          <h1>{{stat.name}}<span class="heart reaction"><img src="/assets/images/heart.png" (click)="likesButtonClick(stat.id)"></span></h1>
          <span class="city">{{stat.city}}</span>
        </div>
      </div>
      <ul class="profile_card-bottom">
        <li class="likes">
          <span class="assets-count">{{stat.likes}}</span>
          <span class="assets-title">Likes</span>
        </li>
        <li class="following">
          <span class="assets-count">{{stat.following}}</span>
          <span class="assets-title">Following</span>
        </li>
        <li class="followers">
          <span class="assets-count">{{stat.followers}}</span>
          <span class="assets-title">Followers</span>
        </li>
        <li class="follow">
          <button class="btn-follow" (click)="followButtonClick(stat.id)">Follow</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="comments-card card">
    <div class="commets_header">
      <button class="comments_button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">Hide comments<span class="comments_count">({{comments?.length}})</span></button>
    </div>
    <div class="comments">
      <div class="wraper" [ngbCollapse]="isCollapsed">
        <div class="comments-description" *ngFor="let comment of comments">
          <div class="comments-photo">
            <img src="https://randomuser.me/api/portraits/men/84.jpg" alt="">
          </div>
          <div class="comments_wrapper">
            <div class="comments_details">
              <h1>Mike Ross</h1>
              <span class="days">{{comment.localTime | amTimeAgo}}</span>
            </div>
            <div class="comments_text">
              <p>{{comment.description}} </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <form class="add-comments" [formGroup]="addForm" (keyup.enter)="addComments()">
      <input type="hidden" id="localTime" name="localTime" formControlName="localTime">
      <div class="form-group">
        <textarea class="form-control" rows="1" placeholder="Add comments" formControlName="description" id="description"></textarea>
      </div>
    </form>
  </div>
</div>
