<div class="container main-block">
  <div class="profile">
    <div class="profile_card card">
      <div class="profile_card-top">
        <div class="photo">
          <img src="https://randomuser.me/api/portraits/men/84.jpg" alt="">
        </div>
        <div class="details">
          <h1>Harvey Specter<span class="heart reaction"><i class="fa fa-heart heart" aria-hidden="true"  (click)="  followButtonClick(status.id)"></i></span></h1>
          <span class="city">New York USA</span>
        </div>
      </div>
      <ul class="profile_card-bottom" *ngFor="let stat of status">
        <li class="likes">
          <span class="assets-count">{{stat.likes}}</span>
          <span class="assets-title">Likes</span>
        </li>
        <li class="following">
          <span class="assets-count">{{stat.following}}</span>
          <span class="assets-title">Following</span>
        </li>
        <li class="followers">
          <span class="assets-count">{{stat.followers}}</span>
          <span class="assets-title">Followers</span>
        </li>
        <li class="follow">
          <button class="btn-follow" (click)="  followButtonClick(status.id)">Follow</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="comments card " *ngFor="let comment of comments">
    <div class="commets_header">
      <button class="comments_button">Hide comments<span class="comments_count">(353)</span></button>
    </div>
    <div class="comments-description">
      <div class="comments-photo">
        <img src="https://randomuser.me/api/portraits/men/84.jpg" alt="">
      </div>
      <div class="comments_wrapper">
          <div class="comments_details">
              <h1>{{comment.author}}</h1>
              <span class="days">{{comment.days}}</span>
            </div>
            <div class="comments_text">
              <p> </p>
            </div>
      </div>
    </div>
    <hr class="comments_line">
    <form class="add-comments" [formGroup]="addForm" (keydown.enter)="addComments()">
        <div class="form-group">
          <textarea class="form-control" rows="1" placeholder="Add comments" id="comment">{{comment.description}}</textarea>
        </div>
      </form>
  </div>
</div>
