
// Colors


$base-color:         #002C71;
$base-custom-color:  #FFFFFF;
$h1-span-color:      #8298B9;
$li-span-color:      #FFA640;
$button-color:       #FFA640;
$paragraph-color:    #444444;
$input-color:        #8298B9;


//borders
$base-border-radius-size: 10px;

// Fonts

$base-font-family: 	      "'Montserrat', sans-serif !important;";
$base-font:                16px;
$desktop-base-font-size:   28px;
$deskto-custom-font-size:  36px;
$mobile-base-font-size:    14px;
$custom-font-size:         24px;
$ipads-base-font-size:     18px;
$max-base-font:            48px;
$xtra-smal-devices-font-size:      12px;
$base-font-weight:         bolder;
$xtra-small-font:          10px;
$asset-font-size:         20px;
// Spacing
$mobile-line-height:        21px;
$desktop-line-height:       44px;